@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #474747;
  font-weight: 400;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

header {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 98%;
  height: 70vh;
  margin: auto;
}

header .topLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header .topLogo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  color: #eee;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  top: 537px;
  background-color: #3e86d8;
  padding: 0 40px  0 40px;
}

header nav ul li {
  display: inline-block;
  margin-left: 40px;
}

header nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  line-height: 70px;
  -webkit-transition: 0.4 ease;
  transition: 0.4 ease;
}

header nav ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
