*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.6;
    color: $textColor;
    background-color: $primery;
    font-weight: 400;
    
}
.container{
    width: 1200px;
	margin: 0px auto;
}