
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primery: #3e86d8;
$whit: #eee;
$gray: #fafafa;
$textColor: #474747;
$black: #121212;
$fontFamily: 'Roboto', sans-serif;
$fontSize: 16px;
$transition: .4 ease;