@import 'var';
@import 'basic';
@import 'mixins';


//HEADER
header{
    background-image: url("../images/bg.jpg");
    @include bgBasic;
    width: 98%;
    height: 70vh;
    margin: auto;
    .topLogo{
        @include flex($x: space-around);
        ul{
            display: flex;
        }
    }
    a{
        color: $whit;
    }
    nav{
       ul{
        display: flex;
        align-items: flex-end;
        li{
            display: inline-block;
            margin-left: 40px;
            a{
                color:  rgba(255,255,255,0.5);
                line-height: 70px;
                transition: $transition;
                &:hover{
                    color: rgba(255,255,255,0.8);
                }
            }
        }
        background-color: $primery;
        padding: 0 40px  0 40px;
       }
    }
}
//POSTOS
